.searchbar {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px;
    margin-top: 3vh;
    justify-content: center;
}

.searchbar:hover {
    border: 2px;
}

.search-input {
    width:100%;
    height: 4vh;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
}

.search-input:focus {
    outline: none;
}

.search-container {
    width: 47vh;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    padding-right: 10px;
    margin-bottom: 3vh;
}

.dropdown-container {
    width: 48vh;
    height: 42vh;
    overflow-y: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1%;
    padding: 2%;
}

.dropdown {
    background-color: rgb(240, 240, 240);
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 2%;
    border: none;
}

.dropdown:hover {
    opacity: 0.5;
}

.search-button {
    height: 4vh;
    width: 4vh;
    display: flex;
    justify-content: center;
    background: transparent;
    border: none;
    margin-top: 3px;
}

.search-button:hover {
    cursor: pointer;
}

.search-icon {
    height: 3vh;
}

.search-icon:hover {
    height: 3.2vh;
}