.body {
  height: 100%;
}

.NavBar {
  display: grid;
  grid-template-columns: 5% 35% 60%;
  box-shadow: 0 3px 2px -2px rgb(193, 193, 193);

  padding: 10px;
}

.NavBar-buttons {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.NavButton {
  background-color: #FFE6E6;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-family: "Helvetica";
  text-align: center;
  padding: 10px 2px 10px 2px;
  border-radius: 10px;
}