.info-card {
    background-color: #FFFFFF;
    padding: 2px 20px;
    width: 100%;
}

.pokemon-number {
    font-size: smaller;
}

.types-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pokemon-type {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: gray;
}

.grass-type {
    background-color: #82C373;
}

.poison-type {
    background-color: rgb(137, 0, 195);
}

.water-type {
    background-color: rgb(17, 108, 255);
}

.bug-type {
    background-color: rgb(139, 213, 0);
}

.electric-type {
    background-color: rgb(255, 217, 0);
}

.flying-type {
    background-color: #82c4f4;
}

.fighting-type {
    background-color: rgb(220, 81, 0);
}

.ground-type {
    background-color: rgb(172, 114, 60);
}

.steel-type {
    background-color: rgb(98, 142, 173);
}

.dragon-type {
    background-color: rgb(108, 56, 238);
}