.NavBar {
    display: flex;
    box-shadow: 0 3px 2px -2px rgb(193, 193, 193);
    padding: 10px;
    max-height: 6vh;
    margin-bottom: 5vh;

    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: fit-content;
  }

  .logo-button {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    /*background: none;*/
    align-items: center;
  }
  
  .logo-icon {
    object-fit: contain;
    max-height: 6vh;
  }
  
  .nav-buttons {
    display: flex;
    gap: 3%;
    height: fit-content;
    
    max-width: 100%;
    flex-grow: 1;
    margin-left: 35%;
  }
  
  .NavButton {
    padding: 2% 1%;
    border-radius: 10px;
    text-align: center;
    min-width: fit-content;
  }
  
  .NavButton-text {
    text-decoration: none;
    color: black;
    font-family: "Helvetica";
  }

  .cur-page-navbutton {
    background-color: #FFE6E6;
  }

  .log-in-button {
    background-color: #FFD2D2;
    border-style: solid;
    border-color: #FFA3A3;
  }

  .log-in-button-text {
    color: #A90000;
  }

  .register-button {
    background-color: #A90000;
    border-style: solid;
    border-color: #a00000;
  }

  .register-button-text {
    color: #FFD2D2;
  }

  .profile-button {
    color: #FFD2D2;
  }