.pokedex {
    display: flex;
    justify-self: center;
    justify-content: center;
    height: 80vh;
    width: 200vh;
}

.pokedex-left {
    background-color: #FF4141;
    width: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 3vh 3vh 3vh;
}

.circle {
    background-color: #D9D9D9;
    width: 11%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.info-card-container {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    padding: 20px;
    aspect-ratio: 1 / 1;
    width: 82%;
    align-self: center;
}

.info-card-controls {
    display: flex;
    justify-content: space-evenly;
}

.mini-display {
    height: 11vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
}

.mini-pokemon {
    overflow: hidden;
}

.side-mini {
    width: 8vh;
}

.star-button {
    height: 50%;
    align-self: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border-style: none;
    background-color: #2C2C2C;
    font-size: 150%;
}

.fa-star {
    color: rgb(243, 243, 243);
}

.pokedex-right {
    background-color: #FF4141;
    /*min-height: 40vh;*/
    min-width: 40vh;
}