.pokedex {
    display: flex;
    justify-content: center; /* Centers horizontally */
    height: 80vh; /* Ensure it takes the full height of the viewport */
}

.pokedex-left {
    background-color: #FF4141;
    min-height: 40vh;
    min-width: 40vh;
}

.info-card-container {
    background-color: #D9D9D9;
}

.pokedex-right {
    background-color: #FF4141;
    /*min-height: 40vh;*/
    min-width: 40vh;
}