.searchbar {
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 20px;
}

.search-input {
    width:100%;
    height: 4vh;
    border: 1px solid;
    border-radius: 10px;
}

.search-container {
    width: 50vh;
}

.dropdown-container {
    width: 50vh;
    height: 50vh;
    overflow-y: auto;
    background-color: white;
    display: grid;
}

.dropdown {
    background-color: rgb(240, 240, 240);
    height: 10vh;
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.search-button {

}