.login-container {
    /*background-color: rgb(240, 240, 240);*/
    background-color: #FFD2D2;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 5vh;
    padding: 4%;
    border-radius: 10%;
}

.login-text {
    font-size: 30px;
    align-self: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.login-username-container, .login-password-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    gap: 1vh;
    margin-bottom: 1vh;
}

.username-input, .password-input {
    font-size: 15px;
    padding: 2%;
    border-radius: 10px;
    border-style: solid;
}

.forgot-password {
    justify-self: end;
}

.login-button {
    height: 8vh;
    font-size: 20px;
    border-radius: 30px;
    width: 50%;
    align-self: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}